# FIXME: this is temporary until setuptools/pip is fixed. While setup_requires
# should be enough, it actually isn't due to Extension() not recognizing the
# .pyx extension before it honors the dependencies.
cython
