name: 'coverage tests Linux'

on:
  push:
    branches:
      - 'master'

jobs:
  coverage:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v1

    - name: Install dependencies
      run: |
        sudo apt -y update
        sudo apt -y install libsdl2-dev python3-venv gcovr
        sudo apt -y install ffmpeg libavcodec-dev libavutil-dev libavformat-dev libavdevice-dev libavfilter-dev libswscale-dev libswresample-dev libpostproc-dev

    - name: Run tests
      run: |
        DEBUG=yes DEBUG_GL=yes make -j$(($(nproc)+1)) COVERAGE=yes
        DEBUG=yes DEBUG_GL=yes make tests COVERAGE=yes
    - name: Get coverage
      run: |
        make coverage-xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: builddir/libnodegl/meson-logs/coverage.xml
