# Warning: this name must stay in sync with the badges referenced in the README
name: 'tests Mac'

on:
  push:
    branches:
      - 'master'
  pull_request:
  schedule:
      - cron: "0 0 * * 6"  # Run every Saturday at midnight

jobs:
  macos:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        brew install python3 curl pkg-config sdl2 ffmpeg glslang molten-vk vulkan-headers

    - name: Build
      run: |
        ./configure.py
        make

    - name: Python import and dylib runtime test
      run: |
        . venv/bin/activate
        python -c 'import pynodegl, pynodegl_utils'
        ngl-python -h
