# Warning: this name must stay in sync with the badges referenced in the README
name: 'tests MSVC'

on:
  push:
    branches:
      - 'main'
  pull_request:
  schedule:
      - cron: "0 0 * * 6"  # Run every Saturday at midnight

jobs:
  msvc:

    runs-on: windows-latest
    env:
        VCPKG_TRIPLET: x64-windows
        VCPKG_INSTALL_PACKAGES: sdl2 glslang
        VULKAN_SDK_VERSION: 1.3.204.1
    strategy:
      matrix:
        include:
          - build_backend: ninja
          - build_backend: vs

    defaults:
      run:
        shell: pwsh

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Get vcpkg cache key
        shell: bash
        id: get-vcpkg-cache-key
        run: |
          VCPKG_COMMIT_ID=$(git -C C:/vcpkg rev-parse HEAD)
          echo "::set-output name=key::$(echo $VCPKG_COMMIT_ID ${{env.VCPKG_TRIPLET}} ${{env.VCPKG_INSTALL_PACKAGES}} | md5sum | cut -f1 -d" ")"

      - name: Restore vcpkg binary cache archives
        id: restore_vcpkg_binary_cache
        uses: actions/cache@v2
        with:
          path: C:\Users\runneradmin\AppData\Local\vcpkg\archives
          key: ${{ steps.get-vcpkg-cache-key.outputs.key }}

      - name: Install dependencies
        run: |
          iwr https://sdk.lunarg.com/sdk/download/${{env.VULKAN_SDK_VERSION}}/windows/VulkanSDK-${{env.VULKAN_SDK_VERSION}}-Installer.exe -OutFile VulkanSDK-Installer.exe
          .\VulkanSDK-Installer.exe --accept-licenses --default-answer --confirm-command install

          iwr https://sdk.lunarg.com/sdk/download/${{env.VULKAN_SDK_VERSION}}/windows/VulkanRT-${{env.VULKAN_SDK_VERSION}}-Installer.exe -OutFile VulkanRT-Installer.exe
          .\VulkanRT-Installer.exe /S

          cd C:\vcpkg
          .\vcpkg.exe install --triplet ${{env.VCPKG_TRIPLET}} ${{env.VCPKG_INSTALL_PACKAGES}}

      - name: Build (${{matrix.build_backend}})
        run: |
          # Disable the Vulkan backend when using the vs backend to workaround
          # the following meson error (specific to the CI setup which uses
          # resources from multiple drives (C:\ and D:\)):
          #  ValueError: path is on mount 'C:', start on mount 'D:'
          #  ERROR: Unhandled python exception
          #  This is a Meson bug and should be reported!
          if ("${{matrix.build_backend}}" -eq "ninja") {
            $Env:VULKAN_SDK = "C:/VulkanSDK/${{env.VULKAN_SDK_VERSION}}"
          }
          .\scripts\msvc-env.ps1
          python.exe .\configure.py --debug-opts gpu_capture --build-backend ${{matrix.build_backend}}
          nmake

      - name: Python import and dylib runtime test
        run: |
          .\venv\Scripts\Activate.ps1
          python.exe -c "import pynopegl, pynopegl_utils"
          ngl-python.exe -h
